<!-- Loop over each object in the projects array -->
{{#each comments as |comment| }}
<div class="row mb-4 comment">
  <div class="col-md-5">
    

         <h4>{{comment.name}}</h4>
 
    
    <p>Created by {{user.name}} on {{format_date comment.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{comment.description}}
    </p>
  </div>
</div>
{{/each}}
